AliveMatchmaker/web/WEB-INF/wsit-edu.bath.matchmaker.ws.MatchMakerWSImpl.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MatchMaker" targetNamespace="http%3A%2F%2Fwww.cs.bath.ac.uk%2Falive" xmlns:tns="http%3A%2F%2Fwww.cs.bath.ac.uk%2Falive" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
 >
    <message name="registerService"/>
    <message name="registerServiceResponse"/>
    <message name="registerServiceByURL"/>
    <message name="registerServiceByURLResponse"/>
    <message name="performMatch"/>
    <message name="performMatchResponse"/>
    <message name="performSignatureMatch"/>
    <message name="performSignatureMatchResponse"/>
    <message name="startSession"/>
    <message name="startSessionResponse"/>
    <portType name="MatchMakerWSImpl">
        <operation name="registerService">
            <input message="tns:registerService"/>
            <output message="tns:registerServiceResponse"/>
        </operation>
        <operation name="registerServiceByURL">
            <input message="tns:registerServiceByURL"/>
            <output message="tns:registerServiceByURLResponse"/>
        </operation>
        <operation name="performMatch">
            <input message="tns:performMatch"/>
            <output message="tns:performMatchResponse"/>
        </operation>
        <operation name="performSignatureMatch">
            <input message="tns:performSignatureMatch"/>
            <output message="tns:performSignatureMatchResponse"/>
        </operation>
        <operation name="startSession">
            <input message="tns:startSession"/>
            <output message="tns:startSessionResponse"/>
        </operation>
    </portType>
    <binding name="MatchMakerPortBinding" type="tns:MatchMakerWSImpl">
        <wsp:PolicyReference URI="#MatchMakerPortBindingPolicy"/>
        <operation name="registerService">
            <input/>
            <output/>
        </operation>
        <operation name="registerServiceByURL">
            <input/>
            <output/>
        </operation>
        <operation name="performMatch">
            <input/>
            <output/>
        </operation>
        <operation name="performSignatureMatch">
            <input/>
            <output/>
        </operation>
        <operation name="startSession">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="MatchMaker">
        <port name="MatchMakerPort" binding="tns:MatchMakerPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="MatchMakerPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
