ExampleWebApplication/src/conf/xml-resources/web-service-references/EcografiaService/wsdl/localhost_8080/ExampleWebApplication/EcografiaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><wsdl:definitions xmlns="http://dmas.dfki.de/axis/services/Ecografia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dmas.dfki.de/axis/services/Ecografia-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dmas.dfki.de/axis/services/Ecografia" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://dmas.dfki.de/axis/services/Ecografia" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" name="Ecografia" targetNamespace="http://dmas.dfki.de/axis/services/Ecografia">
  <wsdl:types>
    <xsd:schema xmlns="http://dmas.dfki.de/axis/services/Ecografia" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind" targetNamespace="http://dmas.dfki.de/axis/services/Ecografia" version="OWLS2WSDL Tue May 21 12:54:06 CEST 2013"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://www.owl-ontologies.com/ECSDI.owl#Ecografia"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://www.owl-ontologies.com/ECSDI.owl#Ecografia"/><xsd:documentation source="Translation (OWL2XSD-SimpleType) of http://www.owl-ontologies.com/ECSDI.owl#Ecografia"/></xsd:annotation><xsd:element name="Ecografia" type="EcografiaType"/><xsd:element name="Cita" type="CitaType"/><xsd:element name="Paciente" type="PacienteType"/><xsd:complexType name="CitaType"><xsd:sequence><xsd:element name="Dia" type="xsd:date"/><xsd:element name="Hora" type="xsd:dateTime"/></xsd:sequence></xsd:complexType><xsd:simpleType name="EcografiaType"><xsd:restriction base="xsd:string"/></xsd:simpleType><xsd:simpleType name="PacienteType"><xsd:restriction base="xsd:string"/></xsd:simpleType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="AsignarCita_1Response">
    <wsdl:part name="OutputCita" type="CitaType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsignarCita_1Request">
    <wsdl:part name="InputEcografia" type="EcografiaType">
    </wsdl:part>
    <wsdl:part name="InputPaciente" type="PacienteType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EcografiaPortType">
    <wsdl:operation name="AsignarCita">
      <wsdl:input message="AsignarCita_1Request">
    </wsdl:input>
      <wsdl:output message="AsignarCita_1Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EcografiaBinding" type="EcografiaPortType">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AsignarCita">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dmas.dfki.de/axis/services/Ecografia"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://dmas.dfki.de/axis/services/Ecografia"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EcografiaService">
    <wsdl:port name="EcografiaPort" binding="EcografiaBinding">
      <wsdlsoap:address location="http://localhost:8080/ExampleWebApplication/EcografiaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>