AliveMatchmaker/web/WEB-INF/wsdl/localhost_8080/AliveMatchmaker/MatchMaker.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cs.bath.ac.uk/alive" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.cs.bath.ac.uk/alive" name="MatchMaker">
<wsp:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" wsu:Id="MatchMakerPortBinding_Wsaw_Addressing_Policy-MatchMakerPortBinding_WSAM_Addressing_Policy-MatchMakerPortBinding_WSAM_Addressing_Policy">
<wsapw3c:UsingAddressing wsp:Optional="true"/>
<wsam:Addressing wsp:Optional="true">
<wsp:Policy/>
</wsam:Addressing>
</wsp:Policy>
<wsp:Policy wsu:Id="MatchMakerPortBindingPolicy">
<wsam:Addressing wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.cs.bath.ac.uk/alive" schemaLocation="http://localhost:8080/AliveMatchmaker/MatchMaker?xsd=1"/>
</xsd:schema>
</types>
<message name="registerService">
<part name="parameters" element="tns:registerService"/>
</message>
<message name="registerServiceResponse">
<part name="parameters" element="tns:registerServiceResponse"/>
</message>
<message name="registerServiceByURL">
<part name="parameters" element="tns:registerServiceByURL"/>
</message>
<message name="registerServiceByURLResponse">
<part name="parameters" element="tns:registerServiceByURLResponse"/>
</message>
<message name="performMatch">
<part name="parameters" element="tns:performMatch"/>
</message>
<message name="performMatchResponse">
<part name="parameters" element="tns:performMatchResponse"/>
</message>
<message name="performSignatureMatch">
<part name="parameters" element="tns:performSignatureMatch"/>
</message>
<message name="performSignatureMatchResponse">
<part name="parameters" element="tns:performSignatureMatchResponse"/>
</message>
<message name="giveCount">
<part name="parameters" element="tns:giveCount"/>
</message>
<message name="giveCountResponse">
<part name="parameters" element="tns:giveCountResponse"/>
</message>
<portType name="MatchMakerWSImpl">
<operation name="registerService">
<input wsaw:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceRequest" wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceRequest" message="tns:registerService"/>
<output wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceResponse" message="tns:registerServiceResponse"/>
</operation>
<operation name="registerServiceByURL">
<input wsaw:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceByURLRequest" wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceByURLRequest" message="tns:registerServiceByURL"/>
<output wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/registerServiceByURLResponse" message="tns:registerServiceByURLResponse"/>
</operation>
<operation name="performMatch">
<input wsaw:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performMatchRequest" wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performMatchRequest" message="tns:performMatch"/>
<output wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performMatchResponse" message="tns:performMatchResponse"/>
</operation>
<operation name="performSignatureMatch">
<input wsaw:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performSignatureMatchRequest" wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performSignatureMatchRequest" message="tns:performSignatureMatch"/>
<output wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/performSignatureMatchResponse" message="tns:performSignatureMatchResponse"/>
</operation>
<operation name="giveCount">
<input wsaw:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/giveCountRequest" wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/giveCountRequest" message="tns:giveCount"/>
<output wsam:Action="http://www.cs.bath.ac.uk/alive/MatchMakerWSImpl/giveCountResponse" message="tns:giveCountResponse"/>
</operation>
</portType>
<binding name="MatchMakerPortBinding" type="tns:MatchMakerWSImpl">
<wsaw:UsingAddressing/>
<wsp:PolicyReference URI="#MatchMakerPortBinding_Wsaw_Addressing_Policy-MatchMakerPortBinding_WSAM_Addressing_Policy-MatchMakerPortBinding_WSAM_Addressing_Policy"/>
<wsp:PolicyReference URI="#MatchMakerPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerServiceByURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="performMatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="performSignatureMatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="giveCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MatchMaker">
<port name="MatchMakerPort" binding="tns:MatchMakerPortBinding">
<soap:address location="http://localhost:8080/AliveMatchmaker/MatchMaker"/>
</port>
</service>
</definitions>