ExampleWebApplication/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/ECSDIServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Ecsdi" targetNamespace="http://www.owl-ontologies.com/ECSDIServices" xmlns="http://www.owl-ontologies.com/ECSDIServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.owl-ontologies.com/ECSDIServices-impl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.owl-ontologies.com/ECSDIServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://www.owl-ontologies.com/ECSDIServices" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.owl-ontologies.com/ECSDIServices" version="OWLS2WSDL Fri May 03 09:15:38 CEST 2013" xmlns="http://www.owl-ontologies.com/ECSDIServices" xmlns:tns="http://schemas.dmas.dfki.de/venetianblind"><xsd:annotation><xsd:documentation source="Translation (OWL2XSD-ComplexType) of http://www.owl-ontologies.com/ECSDI.owl#CentroMedico"/></xsd:annotation><xsd:element name="CentroMedico" type="CentroMedicoType"/><xsd:complexType name="CentroMedicoType"><xsd:sequence><xsd:element name="IDCentroMedico" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOutputCentroMedicoResponse">
    <wsdl:part name="OutputCentroMedico" type="CentroMedicoType"/>
  </wsdl:message>
  <wsdl:message name="getOutputCentroMedicoRequest">
    <wsdl:part name="InputNombreCiudad" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="EcsdiSoap">
    <wsdl:operation name="getOutputCentroMedico">
      <wsdl:input message="getOutputCentroMedicoRequest"/>
      <wsdl:output message="getOutputCentroMedicoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EcsdiSoapBinding" type="EcsdiSoap">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOutputCentroMedico">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.owl-ontologies.com/ECSDIServices"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.owl-ontologies.com/ECSDIServices"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EcsdiService">
    <wsdl:port name="EcsdiSoap" binding="EcsdiSoapBinding">
      <wsdlsoap:address location="http://www.owl-ontologies.com/ECSDIServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
